body {margin: 0}

img {margin: 0}

.sss {

  background-image: url(Osnova.jpg);
  background-size: 1350px;
  background-repeat: no-repeat;

}

header {background-color: black}

#ime {
margin-left: 790px;
 margin-top: 880px;
}


h2 {
  margin-top: 600px;
  font-size: 130px;
}
h6 { margin: 0;
  font-size: 48px;
  margin-top: 110px;
  margin-left: 592px;
  font-family: fantasy;
}

.color {
  background: linear-gradient(red,blue);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.prob {
  margin-top: 32px;
  height: 70px; width: 100px;
  margin-left: 750px;
  background-color: rgb(255,255,255,0.0);
}
